body {
    font-family: "Poppins", serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f5f1ed;
    color: #252323;
}

h1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    
  }
  

input {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    background-color: #f4eede;
    border-radius: 10px;
    border: 2px #7f6f5c solid;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #dad2bc;
    border-radius: 5px;
    border: 2px #252323 solid;
}

img {
    margin-top: 20px;
}